@import '../Vars.less';

.Footer {
  position: relative;
  left: 0;
  width: 100%;
  color: @white;
  font-size: @h4;
}

a {
  text-decoration: none;
  color:inherit;

  &:hover {
    color: @red;
    transition: color @button-transition-duration;
  }
}

.Header {
  display: block;
  font-size: @larger;
  color: @light-purple;
  margin: 0;
}

.VerticalHalf {
  position: relative;
  padding-top: @space-lg;
  padding-bottom: @space-lg;

  &.First {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: @deep-purple;

    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }

  &.Second {
    background: @teal;
    padding-top: 0;
    padding-bottom: @space;

    /* For the sponsor icons */
    :global(.LazyLoad) {
      padding: @space 0;
    }
  }
}

.HorizontalHalf {
  display: inline-block;
  position: relative;

  &.Contact {
    display: flex;
    flex-direction: column;
    padding-right: 1%;
    justify-content: space-between;

      @media screen and (min-width: 600px) {
      text-align: left;
      margin-right: @space-elg;
    }
  }

  .ContactPara {
    margin: 0;
    margin-top: @space;

    &.Names {
      display: block;
    }

    &.Email {
      display: block;
    }

    &.Phone {
      display: block;
    }
  }

  .IconsContainer {
    display: flex;
    justify-content: center;
    margin-top: @space;
    margin-bottom: @space-lg;

    @media screen and (min-width: 600px) {
      justify-content: flex-start;
      margin-top: @space-lg;
      margin-bottom: 0;
    }

    :global(.Icon) {
      width: initial;
    }

    img {
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 10px;
    }
  }

  &.SiteMap {
    padding-left: 1%;
    text-align: center;

    @media screen and (min-width: 600px) {
      text-align: left;
      vertical-align: top;
    }
  }
}

/* Mailchimp styling */
:global(#mc_embed_signup) {
  color: @dark-purple;
  background-color: @white;
  padding: @space-lg 0;
  font-family: 'Lato Regular', 'Lato Subset', sans-serif;

  label, input {
    margin: @space-sm 0;
  }

  label {
    display: block;
  }

  input {
    width: 90%;
    max-width: 400px;
    font-size: @h4;
    padding: @space-sm;
    box-sizing: border-box;

    &:global(.button) {
      position: relative;
      background-color: @gold;
      border: 1px solid @dark-purple;
      color: @white;
      font-family: 'Lato Light', 'Lato Subset', sans-serif;
      font-weight: 300;
      cursor: pointer;
      transition: color @button-transition-duration, background-color @button-transition-duration;


      &:hover, &:active {
        background-color: @white;
        color: @blue;
      }

      &:active {
        top: 1px;
      }
    }
  }
}