@import '../Vars.less';

.Footer {
  position: relative;
  left: 0;
  width: 100%;
  color: @white;
  font-size: @h4;

  a {
    text-decoration: none;
    color:inherit;

    &:hover {
      color: @red;
      transition: color @button-transition-duration;
    }
  }

  .Header {
    display: block;
    font-size: @larger;
    color: @light-purple;
    margin: 0;
  }

  .VerticalHalf {
    position: relative;
    padding-bottom: @space-lg;
    padding-top: @space-lg;
    
    &.First {
      display: block;
      background: @deep-purple;
      display:flex;
      justify-content: center;
      flex-direction: column;

       @media screen and (min-width:600px) {
        flex-direction: row;
      }

      .HorizontalHalf {
        position: relative;
        display: inline-block;

        &.Contact {
          display: flex;
          flex-direction: column;
          padding-right: 1%;
          justify-content: space-between;

           @media screen and (min-width: 600px) {
            text-align: left;
            margin-right: @space-elg;
          }
        }

        .ContactPara {
          margin: 0;
          margin-top: @space;

          &.Names {
            display: block;
          }

          &.Email {
            display: block;
          }

          &.Phone {
            display: block;
          }
        }

        .IconsContainer {
          display: flex;
          justify-content: center;
          margin-top: @space-xlg;
          margin-bottom: @space-lg;

           @media screen and (min-width:600px) {
            margin-top: @space-lg;
            justify-content: flex-start;
            margin-bottom:0;
            }

          & img {
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 10px;
          }
        }

        &.SiteMap {
          padding-left: 1%;
          text-align: center;
          
          @media screen and (min-width:600px) {
            text-align: left;
            vertical-align: top;
          }
        }
      }
    }

    &.Second {
      background: @teal;
    }
  }
}