@import '../Vars.less';

@import '../Mixins/ArticlePreview.less';

.ForumTopicPreview {
	.ArticlePreview;
  
  /* Used for posts from which we couldn't scrape an image. Note that for
   * specificity reasons, .HeroImageContainer must be provided. */
  :global(.HeroImageContainer) {
    :global(.HeroImage) {
      &:global(.temp) {
        background: black;
        object-fit: contain;
        padding: 7.5%;
      }
    }
  }

  /* Don't display the image filename metadata. */
  :global(.meta) {
    display: none;
  }

  :global(.Main) {
    /* @foo wrote: */
    & > p:first-of-type {
      display: none;
    }
  
    blockquote {
      margin: 0;
    }
  
    /* Image in RSS description used for src but is not displayed. */
    img {
      display: none;
    }
  
    /* Posts: N */
    blockquote + p {
      display: none;
    }
  
    /* Participants: N */
    blockquote + p + p {
      display: none;
    }
  
    /* Read full topic */
    blockquote + p + p + p {
      display: none;
    }
  }
}
