.HamburgerMenu {
  position: relative;
  width: 100%;
  height: 100px;

  .HamburgerMenuLogo {
    position: absolute;
    left: 0;
  }

  .HamburgerMenuIcon {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }

  .HamburgerMenuActual {
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    
    .HamburgerMenuContents {
      display: none;
      position: absolute;
      right: 0;
    }

    .HamburgerMenuContents:global(.open) {
      display: block;
 
      :global(.NavBarItem) {
        display: block;
      }
    }
  }
}