@import '../KeyColors.less';

.HamburgerMenu {
  display: none;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 900px) {
    /* Do not display hamburger menu on monitor view. */
    display: flex;
  }

  .HamburgerMenuLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .HamburgerMenuIcon {
    z-index: 2;
    display: block;
    margin-right: 20px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .HamburgerMenuActual {
    display: flex;
    align-items: center;
    justify-content: center;

    .HamburgerMenuContents {
      opacity: 0;
      pointer-events: none;
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      padding-top: 80px;
      text-align: center;
      background: @deep-purple;
      transition: opacity 0.5s;
      
      :global(.NavBarItem) {
        display: block;
      }
    }

    .HamburgerMenuContents:global(.open) {
      opacity: 1;
      pointer-events: all;
    }
  }
}