.HomeBackgroundImage {
  position: absolute;
  left: 0;
  top: -110px;
  min-width: 100%;
  bottom: 0;
  overflow: hidden;
}

@media (max-aspect-ratio: 1/1) {
  .HomeBackgroundImage img {
    height: 100%;
  }
}