.LanguageButton {
  position: relative;
  display: none;
  border: 0;
  color: white;
  font: inherit;
  font-size: 100%;
  background: transparent;
  cursor: pointer;

  &.Active {
    color: red;
  }

  /* Only display language buttons on Write page. */
  :global(.Page-Write) & {
    display: inline-block;
  }
}