.LanguageButton {
  position: relative;
  display: inline-block;
  border: 0;
  color: white;
  font: inherit;
  font-size: 100%;
  background: transparent;
  cursor: pointer;

  &.Active {
    color: red;
  }
}