.LatestNews {
  display: block;

  &.Full {
    display: block;
  }

  @media screen and (min-width:600px){
    &.Teaser {
      display: flex;
      justify-content: center;
    }
  }
  &.Title {
    display: block;
  }
}