@import '../Vars.less';

.LatestForumTopics {
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;

	@media screen and (min-width: 600px) {
		.ForumTopicsContainer {
			display: flex;
			flex-wrap: wrap;
			justify-content: left;
		}
	}

	.Title {
		display: block;
	}
}
