.NavBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  /* Do not display full NavBar on mobile. */
  :global(.mobile) & > :global(.NavBarItem) {
    display: none;
  }
}