@import '../Vars.less';

.NavBarItem {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14pt;
  padding: 20px;
  color: white;
  text-decoration: none;
  background-color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover, &:active, &:global(.active) {
    color: @red;
    transition: color @button-transition-duration;
  }
}

.NavLinkHeaderIconLink {
  color: inherit;
}

.NavLinkLogoImageContainer {
  width: 28px;
  height: 32px;
}