.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:global(.NavBarItem) {
  padding: 20px;
  text-decoration: transparent;
  transition: 0.5s background;
}

:global(.NavBarItem:hover) {
  opacity: 0.95;
  background: rgba(225, 225, 225, 0.5);
}

:global(.NavBarItem.active) {
  background: rgba(200, 200, 200, 0.5);
}

:global(.NavBarItem:visited) {
  color: inherit;
}