.NavBarItem {
  font-size: 14pt;
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: 0.5s background-color;
}

.NavBarItem:visited {
  color: inherit;
}

.NavLinkHeaderIconLink {
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

.NavLinkLogoContainer {
  position: relative;
  display: inline-block;
}

.NavLinkLogoImageContainer {
  display: inline-block;
  width: 28px;
  height: 32px;
  vertical-align: middle;
}

:global(.LanguageButtonContainer) {
  margin-left: 100px;
}