.NewsItem {
  display: inline-block;

  :global(.field-label) {
    display: none;
  }

  .NewsItemFull {
    display: block;
  }

  .NewsItemPartial {
    display: block;
  }

  .NewsItemPreview {
    display: block;
  }
}