@import "../KeyColors.less";

.About {
  width: 100%;
  min-height: 100%;
  background: @light-purple;

  .HeroImage {
    width: 100%;
    height: 600px;
    border-bottom: 6px solid @light-blue;
  }
  
  .Body {
    position: relative;
    display: inline-block;
    top: -4px;
    width: 100%;
    max-width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
    background: @white;
    box-sizing: border-box;
    
    :global(.monitor) & {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .Header {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 60pt;
  }

  .Paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ParagraphText {
    font-size: 20pt;
  }

  .OpeningParagraph {
    .Paragraph;
  }

  .OpeningParagraphText {
    .ParagraphText;
  }

  .Subheader {
    display: block;
    margin-top: 75px;
    margin-bottom: 40px;
    font-size: 40pt;
  }

  .Subheader:not(:global(.condensed)) {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 700;
  }

  .CollaboratorsSubheader {
    margin-bottom: 10px;
  }

  .Subsubheader {
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 32pt;
  }
  
  .PictureContainer {
    margin: 0;
    margin-bottom: 60px;
  }

  .TeamPicture {
    width: 100%;
    height: 400px;
  }

  .CollaboratorsPicture {
    width: 100%;
    height: 400px;
  }

  .CollaboratorsParagraph {
    .Paragraph;
    margin-bottom: 60px;
  }

  .CollaboratorsParagraphText {
    .ParagraphText;
  }

  .PictureAttribution {
    position: relative;
    top: -4px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid @light-blue;
    border-right: 1px solid @light-blue;          
    border-top: 5px solid @light-blue;
    border-bottom: 1px solid @light-blue;
    text-align: left;
  }

  .AttributionSection {
    margin: 0;
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.Red {
  color: @red;
}