@import "../KeyColors.less";

.Home {
  position: relative; 
  display: block;
  color: @white;

  .Section {
    position: relative;
    font-weight: 100;
    padding: 20px;

    &.First {
      height: 1020px;
      top: -110px;
      padding-top: 110px;
      margin-bottom: -160px;
      overflow-x: hidden;
        
      .LogoContainer {
        position: relative;
        display: inline-block;
        width: 175px;
        height: 201px;

        :global(.monitor) & {
          width: 250px;
          height: 289px;
        }
      }
      
      .Header {
        position: relative;
        font-size: 18pt;
        margin-top: 30px;
        margin-bottom: 25px;
        
        :global(.monitor) & {
          font-size: 48pt;
        }
      }

      .AllLinksContainer {
        display: flex;
        justify-content: center;

        .LinkBox {
          display: block;

          :global(.monitor) & {
            position: relative;
            display: inline-block;
            margin-left: 65px;
            margin-right: 65px;
          }

          @mobile-margin-top: 350px;
          @mobile-margin-bottom: 100px;

          &.Write {
            float: left;
            width: 45%;
            margin-top: @mobile-margin-top;
            margin-bottom: @mobile-margin-bottom;

            :global(.monitor) & {
              float: none;
              width: inherit;
              margin-left: 20px;
              margin-top: 0;
            }
          }

          &.Podcast {
            position: absolute;
            left: 0;
            width: 100%;

            :global(.monitor) & {
              position: relative;
              width: inherit;
              left: inherit;
              margin-left: 0;
            }
          }

          &.Read {
            float: right;
            width: 45%;
            margin-top: @mobile-margin-top;
            margin-bottom: @mobile-margin-bottom;

            :global(.monitor) & {
              float: none;
              width: inherit;
              margin-top: 0;
            }
          }

          .LinkTitle {
            position: relative;
            display: block;
            font-size: 24pt;
            
            :global(.monitor) & {
              font-size: 34pt;
            }
          
            &.Podcast {
              color: inherit;
            }
            
            &.Write {
              color: inherit;
            }
            
            &.ReadDiscuss {
              color: inherit;
            }
          }
          
          .LinkSubtitle {
            position: relative;
            display: block;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 18pt;
            
            :global(.monitor) & {
              font-size: 24pt;
            }
            
            &.Podcast {
              color: inherit;
            }
            
            &.MorePodcasts {
              color: inherit;
            }
            
            &.Write {
              color: inherit;
            }
            
            &.ReadDiscuss {
              color: inherit;
            }
          }
          
          .LinkContainer {
            display: inline-block;
          }
  
          .Link {
            position: relative;
            display: block;
            width: 80px;
            height: 80px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    &.Second {
      background: @red;
      padding-left: 25px;
      padding-right: 25px;

      .ExplainerParagraph {
        position: relative;
        max-width: 675px;
        margin-left: auto;
        margin-right: auto;
        color: @purple;
        font-size: 18pt;

        :global(.monitor) & {
          font-size: 24pt;
        }
      }

      .LinkContainer {
        display: flex;
        justify-content: space-around;
        width: 171px;
        height: 42px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid @white;

        .Link {
          &.About {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: @white;
            text-decoration: none;

            .LinkText {
              display: inline-block;
              margin-top: auto;
              margin-bottom: auto;
            }
          }
        }
      }

      .QuoteContainer {
        position: relative;
        margin-top: 50px;

        .QuoteIconContainer {
          position: relative;
          width: 49px;
          height: 34px;
          margin-left: auto;
          margin-right: auto;
        }

        .Quote {
          display: inline-block;
          margin-top: 30px;
          margin-bottom: 60px;
          font-size: 24pt;
        }
      }
    }

    &.Third {
      color: @dark-purple;
    }
  }
}

@media (max-width: 465px) {
  .Section.First .LinkBox.Read .LinkSubtitle {
    line-height: 2.25;
  }
}