@import '../Vars.less';
@import '../Page.less';

@headerHeight: 80px;

.Home {
	position: relative;
	display: block;
	color: @white;
	background: black;

	.Section {
		position: relative;
		padding: @space-lg @space;

		&.First {
			top: -@headerHeight;
			padding-top: @space-lg;
			margin-bottom: -@headerHeight;
			overflow: hidden;
			/* JPG, smaller */
			background-image: url(https://s3.eu-central-1.amazonaws.com/hellox/images/background_cropping_final_1000px_wide_960.jpg);

			/* WEBP, smaller */
			//background-image: url(https://s3.eu-central-1.amazonaws.com/hellox/images/background_cropping_final_1000px_wide_960.webp);
			background-position: center center;
			background-size: cover;

			@media screen and (min-width: 600px) {
				height: 650px;
				padding-top: @headerHeight;

				/* JPG, larger */
				background-image: url(https://s3.eu-central-1.amazonaws.com/hellox/images/background_cropping_FINAL_short.jpg);

				/* WEBP, larger */
				//background-image: url(https://s3.eu-central-1.amazonaws.com/hellox/images/background_cropping_FINAL_short.webp);
			}

			@media screen and (min-height: 800px) {
				min-height: auto;
			}

			.LogoContainer {
				position: relative;
				display: inline-block;
				width: 150px;

				@media screen and (min-width: 600px) {
					width: 250px;
					margin-bottom: @space-lg;
					//height: 289px;
				}
			
				@media screen and (max-width: 370px) {
					width: 100px;
					margin-bottom: @space-sm;
				}
		 	}

			.Header {
				position: relative;
				font-weight: 100;
				letter-spacing: 0.5px;
				font-size: @larger;
				margin-top: @space;
				margin-bottom: @space;

				@media screen and (min-width: 600px) {
					margin-top: 0px;
					font-size: @h3;
				}

				@media screen and (max-width: 370px) {
					margin-top: 0;
					margin-bottom: @space-sm;
				}
			}

			.AllLinksContainer {
				position: relative;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				flex-direction: row;
				max-width: 900px;
				
				@media screen and (min-width: 600px) {
					margin: 0 auto;
					margin-top: @space-lg;
					margin-bottom: @space-xlg;
					justify-content: space-between;
				}
			}

			.LinkBox {
				&.Podcast {
					@media screen and (min-width: 600px) {
						display: none;
					}
				}

				&.Podcast2 {
					display: none;
					@media screen and (min-width: 600px) {
						display: block;
					}
				}
			}

			:global(.Icon) {
				height: 70px;
				margin-left: auto;
				margin-right: auto;

				@media screen and (max-width: 370px) {
					height: 50px;
				}

				@media screen and (min-height: 800px) {
					height: 100px;
				}

				& img {
					height: 100%;
				}
			}

			.Link {
				position: relative;
				display: block;
				color: white;
				text-decoration: none;
				overflow: hidden;
				flex-shrink: 0;
				flex-grow: 1;
				flex: 1;
				min-width: 100px;

				@media screen and (min-width: 600px) {
					&:hover,
					&:active {
						color: @red;
						transition: color @button-transition-duration;;
					}
				}
			}

			.LinkBox {
				display: block;
			}

			.LinkTitle {
				position: relative;
				display: block;
				margin-top: @space-sm;
				margin-bottom: 0;
				letter-spacing: 2px;
				font-size: @larger;
				color: inherit;
			}

			.LinkSubtitle {
				position: relative;
				display: block;
				margin: @space-xsm auto;
				font-weight: 100;
				letter-spacing: 1px;
				font-size: @larger;
				color: inherit;

				@media screen and (max-width: 370px) {
					font-size: @p;
					margin-top: 0;
				}

				&.MorePodcasts {				
					font-size: @tiny;
					font-weight: 400;
					margin-top: @space-xsm;
					@media screen and (min-height: 800px) {
						font-size: @p;
					}
				}
			}

			.LinkContainer {
				position: relative;
				display: inline-block;
			}
		}

		&.Second {
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			background: @gold;
			color: @purple;

			.PodcastSubscriptionWrapper {
				position: relative;
				top: -@headerHeight;
				width: 100%;
			}

			.ExplainerParagraph {
				position: relative;
				max-width: 675px;
				margin: 0 auto;
				font-size: @larger -1px;
				text-align: justify;

				@media screen and (min-width: 600px) {
					font-size: @larger;
				}
			}

			.LinkContainer {
				display: inline-block;
				margin: @space auto;
				border: 1px solid @purple;
				font-size: @tiny;

				.Link {
					&.About {
						position: relative;
						display: inline-block;
						padding: @space-sm @space-lg;
						color: @purple;
						text-decoration: none;

						&:hover, &:active {
							background-color: white;
							color: @light-purple;
							transition: color @button-transition-duration;
						}
					}

					.LinkText {
						display: inline-block;
						margin-top: auto;
						margin-bottom: auto;
						font-weight: 400;
					}
				}
			}
		}

		&.Third {
			min-height: @preloadedNewsHeight;
			padding-left: 0;
			padding-right: 0;
			color: @dark-purple;
			background: white;

			@media screen and (min-width: 600px) {
				padding-left: 20px;
				padding-right: 20px;
			}

			.ForumTopicsTitle, .LatestNewsTitle {
				font-family: 'Lato Regular', 'Lato Subset', sans-serif;
				font-size: 30px;
				font-weight: 400;
				text-align: left;
				margin-left: @space-sm;

				@media screen and (min-width: 600px) {
					text-align: center;
				}
			}

			.ForumTopicsWrapper, .NewsWrapper {
				margin: 0 auto;
				max-width: 800px;
				width: 100%;
				overflow: hidden;
			}
		}
	}

	.BeforeNewsLoaded {
		min-height: @preloadedNewsHeight;
	}
}

:global(.LazyLoad) {
	height: 100%;
}