@import '../Vars.less';
@import '../Page.less';

@headerHeight: 80px;

.Home {
  position: relative; 
  display: block;
  color: @white;
  background: black;

  .Section {
    position: relative;
    font-family: 'Lato Light';
    font-weight: 300;
    padding: @space-lg;

    &.First {
      height: 100vh;
      top: -@headerHeight;
      padding-top: @space-xlg;
      margin-bottom: -160px;
      overflow: hidden;
      background: url(https://s3.eu-central-1.amazonaws.com/hellox/images/background_cropping_final_1000px_wide_960.png);
      background-position: center center;
      background-size: cover;

      :global(.monitor) & {
        background-image: url(https://s3.eu-central-1.amazonaws.com/hellox/images/background_cropping_FINAL_short.png)
      }

      @media screen and (min-width: 600px) {
        padding-top: @headerHeight;
      }

      @media screen and (min-width: 600px) {
        height: 650px;
      }

      .LogoContainer {
        position: relative;
        display: inline-block;
        width: 150px;

        @media screen and (min-width: 600px) {
          width: 250px;
          margin-bottom: @space-lg
          //height: 289px;
        }
      }

      .Header {
        position: relative;
        font-weight: 100;
        letter-spacing: 0.5px;
        font-size: @larger;
        margin-top: @space;
        margin-bottom: @space;

        @media screen and (min-width: 600px) {
          margin-top: 0px;
          font-size: @h3;
        }
      }

      .AllLinksContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        @media screen and (min-width: 600px) {
          margin-top: @space-lg;
        }
      }

      .Link {
        position: relative;
        display: block;
        color: white;
        text-decoration: none;
        overflow: hidden;
        flex-shrink: 0;
        flex-grow: 1;
        flex: 1;
        min-width: 100px;

        &.Podcast {
          @media screen and (min-width: 600px) {
            display: none;
          }
        }
        &.Podcast2 {
          display: none;
          @media screen and (min-width: 600px) {
            display: block;
          }
        }

        &:nth-child(1) {
          flex-basis: 100%;
          @media screen and (min-width: 600px) {
            flex-basis: 0;
          }
        }

        &:hover, &:active {
          color: @red;
          transition: color 0.2s;
        }
      }

      .LinkBox {
        display: block;
      }

      .LinkTitle {
        position: relative;
        display: block;
        margin-top: @space-sm;
        margin-bottom: 0;
        letter-spacing: 2px;
        font-size: @larger;
        color: inherit;
      }
      
      .LinkSubtitle {
        position: relative;
        display: block;
        margin: @space-xsm auto;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: @larger;
        color: inherit;

        &.MorePodcasts {
          font-size: @tiny;
          font-weight: 400;
        }
      }

      .LinkContainer {
        position: relative;
        display: inline-block;

        & :global(.LazyLoad) {
          width: 70px;
          height: 70px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &.Second {
      background: @gold;
      color: @purple;
      
      .ExplainerParagraph {
        position: relative;
        max-width: 675px;
        margin: 0 auto;
        font-size: @larger -1px;
        text-align: justify;

        @media screen and (min-width: 600px) {
          font-size: @larger;
        }
      }

      .LinkContainer {
        display: inline-block;
        margin: @space auto;        
        border: 1px solid @purple;
        font-size: @tiny;
        
        .Link {
          &.About {
            display: inline-block;
            padding: @space-sm @space-lg;
            color: @purple;
            text-decoration: none;

            &:hover {
              background-color: white;
              color: @light-purple;
              transition: 0.2s color;
            }
          }

          .LinkText {
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
            font-weight: 400;
          }
        }
      }

      .QuoteContainer {
        position: relative;
        margin-top: @space-lg;

        .QuoteIconContainer {
          position: relative;
          width: 40px;
          margin-left: auto;
          margin-right: auto;

          & :global(.LazyLoad) img {
            max-width:100%;
          }
        }

        .Quote {
          display: inline-block;
          margin-top: @space;
          margin-bottom: @space-lg;
          color: @white;
          font-size: @h4 + 1;
          //max-width: 270px;
        }
      }
    }

    &.Third {
      padding-left: 0;
      padding-right: 0;
      color: @dark-purple;
      background: white;

      @media screen and (min-width: 600px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      .LatestNewsTitle {        
        font-family: 'Lato Regular', sans-serif;
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        margin-left: @space-sm;

        @media screen and (min-width: 600px) {
          text-align: center;
        }
      }

      .NewsWrapper {
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
        overflow: hidden;
      }
    }
  }
}