@import '../Vars.less';
@import '../Page.less';

.Podcast {
  background: white;
	color: @dark-purple;

	.Content {
		max-width: @pageMaxWidth;
		width: 100%;
		margin: 40px auto 0 auto;
	}
}

.Message {
  margin-top: 30px;
  font-size: @h1;
}

.HorizontalRule {
  color: inherit;
}