@import '../Vars.less';
@import '../Page.less';

.Write {
  background-color: white;
  color: black;
  font-size: @larger;
  text-align: left;
}

.Content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.MediaContainer {
  position: relative;
  width: 100%;
  max-width: @pageMaxWidth;

  @media screen and (min-width: 1050px) {
    min-height: 590px;
  }

  margin: 0 auto;
  border-bottom: solid 5px @teal;

  img {
    margin-bottom: -5px;
    width: 100%;
  }
}

ol {
  padding-left: @space;
}

li {
  margin-bottom: @space-xsm;
}

.ParticipateList {
  font-family: 'Lato Bold', 'Lato Subset', sans-serif;
  font-weight: 400;
}

.ExplainerHeader {
  margin-top: @space-sm;
  margin-bottom: @space-sm;
  text-align: center;
}

.Explainer {
  padding:@space;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.InProgressWrapper {
  background-color: @teal;
  margin:0;
}

.Participate {
  width: 100%;
  background-color: @gold;
  color: @deep-purple;
  box-sizing: border-box;

  h3 {
    text-align: center;
    font-size: @h2;
  }

  p {
    font-size: @p + 1;
  }

  .Content {
    background-color: @gold;
    padding: @space;
  }

  .Button {
    display: block;
    padding: @space-sm + 5 @space-lg;
    margin: @space auto;
    margin-top: @space-xlg;
    border: solid 1px @deep-purple;
    background: @gold;
    color: @deep-purple;
    font-size: @tiny;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

    @media screen and (min-width: 600px) {
      width: auto;
      padding: @space-sm + @space-xsm @space + @space-sm;
    }
  }
}

.HeroAnimation {
  width: 100%;
}

.LanguageButtonContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: @space + 5;
  text-align: center;

  .LanguageButton {
    color: black;
    font-size: @h3;

    :active, &:global(.active) {
      color: @red;
    }
  }
}

.Message {
  padding: @space;
  text-align: center;
}