@import '../Vars.less';
@import '../Page.less';

.Write {
  background-color: white;
}

.Content {
  width: 100%;
  max-width: @pageMaxWidth;
  margin: 0 auto;
  overflow: hidden;
}

.MediaContainer {
  position: relative;
  width: 100%;
  min-height: 550px;
  border-bottom: solid 5px @teal;

  video {
    margin-bottom: -5px;
    width: 100%;
  }
}
