@import '../../../Styles/Vars.less';

.InProgressStory {
  .QuestionContainer {
    width:100%;
  }

  .Complete {
    display: block;
    padding: @space-sm+5 @space-lg;
    margin:@space auto;
    border: none;
    background: @gold;
    color: @deep-purple;
    font-size: @small;
    text-transform: uppercase;
    cursor: pointer;
  }
}