.Question {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-top: -8px;
  text-align: left;
  font-size: 16pt;

  .QuestionText {
    width: 60%;
    padding: 15px;
    border-radius: 15px;
    background: grey;
    color: white;
  }
}