@import '../../../Styles/KeyColors.less';

.StoryGenerator {
  position: relative;
  width: 100%;
  height: 100%;
  background: @white;
  color: black;
  font-size: 20pt;

  :global(.monitor) & {
    max-width: 1024px;
  }

  .ExplainerHeader {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Explainer {
    padding-left: 100px;
    padding-right: 100px;
  }
}